;  ̣{{ ansible_managed }}  or certbot by rndc
$TTL 43200      ; 12 hours
@       IN    SOA {{ bind_acme_nameservers[0]|default(zone_name)}}. hostmaster.{{zone_name}}. (
                                {{ "%Y%m%d" | strftime }}{{bind_acme_zone_serial}} ; serial
                                28800      ; refresh (8 hours)
                                7200       ; retry (2 hours)
                                604800     ; expire (1 week)
                                86400      ; minimum (1 day)
                                )

{% for ns in bind_acme_nameservers %}
                    IN    NS      {{ns}}.
{% endfor %}
                        TXT     "just for debugging"
